﻿@inherits LayoutComponentBase

<HxMessageBoxHost />

<div class="page">
    <header>
        <NavMenu />
    </header>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>