﻿<HxNavbar>
    <HxNavbarBrand>Client</HxNavbarBrand>
    <HxNavbarToggler/>
    <HxNavbarCollapse>
        <HxNav CssClass="me-auto mb-2 mb-lg-0">
            <HxNavLink href="/">Home</HxNavLink>
        </HxNav>
        <HxNav>
            <AuthorizeView>
                <Authorized>
                    <HxNavLink Href="account">@CurrentUserService.CurrentUser?.Username</HxNavLink>
                    <HxNavLink Href="logout" CssClass="text-danger">Logout</HxNavLink>
                </Authorized>
                <NotAuthorized>
                    <HxNavLink Href="login">Login</HxNavLink>
                    <HxNavLink Href="register">Register</HxNavLink>
                </NotAuthorized>
            </AuthorizeView>
        </HxNav>
    </HxNavbarCollapse>
</HxNavbar>
