﻿@using global::Shared
@inherits CompetenceManagementComponent

<HxCard>
    <BodyTemplate>
        <HxCardTitle>@CompetenceInstance?.Name</HxCardTitle>
        <HxCardText>@CompetenceInstance?.Description</HxCardText>

        <h4>Resources</h4>
        <AuthorizeView Roles="@IdentityConstants.ManagementRole">
            <Authorized>
                <HxButton Color="ThemeColor.Success" OnClick="OpenAddResourceModalAsync">Add Resouce</HxButton>
            </Authorized>
        </AuthorizeView>
        <div class="border rounded-2 mb-3">
            @if (CompetenceInstance is not null)
            {
                foreach (var resource in CompetenceInstance.Resources)
                {
                    <CompetenceResource Parent="@this" ResourceId="@resource.Id" OnDelete="ForceFetch"/>
                }
            }
        </div>

        <h4>Remarks</h4>
        <HxButton Color="ThemeColor.Success" OnClick="OpenAddRemarkModalAsync">Add Remarks</HxButton>
        <div class="border rounded-2 mb-3">
            @if (CompetenceInstance is not null)
            {
                foreach (var remark in CompetenceInstance.Remarks)
                {
                    <CompetenceRemark Parent="@this" RemarkId="@remark.Id" OnDelete="ForceFetch"/>
                }
            }
        </div>
    </BodyTemplate>
</HxCard>

<HxModal @ref="_createResourceModal" Title="Create Resource">
    <BodyTemplate>
        <EditForm id="createResourceForm" Model="_createResourceModel" OnValidSubmit="CreateResourceAsync">
            <DataAnnotationsValidator/>

            <div class="mb-3">
                <HxInputText @bind-Value="_createResourceModel.Name" Label="Name"/>
            </div>
            <div class="mb-3">
                <HxInputText @bind-Value="_createResourceModel.Url" Label="Url"/>
            </div>
        </EditForm>
    </BodyTemplate>
    <FooterTemplate>
        <HxButton Color="ThemeColor.Secondary" OnClick="CloseResourceModalAsync">Cancel</HxButton>
        <HxSubmit FormId="createResourceForm" Color="ThemeColor.Success">Create</HxSubmit>
    </FooterTemplate>
</HxModal>

<HxModal @ref="_createRemarksModal" Title="Create Remark">
    <BodyTemplate>
        <EditForm id="createRemarkForm" Model="_createRemarksModel" OnValidSubmit="CreateRemarkAsync">
            <DataAnnotationsValidator/>

            <div class="mb-3">
                <HxInputText @bind-Value="_createRemarksModel.Content" Label="Remark"/>
            </div>
        </EditForm>
    </BodyTemplate>
    <FooterTemplate>
        <HxButton Color="ThemeColor.Secondary" OnClick="CloseResourceModalAsync">Cancel</HxButton>
        <HxSubmit FormId="createRemarkForm" Color="ThemeColor.Success">Create</HxSubmit>
    </FooterTemplate>
</HxModal>