﻿@using global::Shared
@inherits CompetenceManagementComponent

<HxCard>
    <BodyTemplate>
        <div class="d-flex justify-content-between">
            <HxCardTitle>@CompetenceInstance.Name</HxCardTitle>
            <AuthorizeView Roles="@IdentityConstants.ManagementRole">
                <Authorized>
                    <HxButton Icon="BootstrapIcon.TrashFill" Color="ThemeColor.Danger" OnClick="DeleteAsync"/>
                </Authorized>
            </AuthorizeView>
        </div>
    </BodyTemplate>
</HxCard>