﻿@using global::Shared
@inherits CompetenceManagementComponent

<div class="d-flex justify-content-between align-items-center">
    <a href="@Resource?.Url" target="_blank" class="link-info">@Resource?.Name</a>
    <AuthorizeView Roles="@IdentityConstants.ManagementRole">
        <Authorized>
            <HxButton Color="ThemeColor.Danger" Icon="BootstrapIcon.Trash" OnClick="DeleteAsync"/>
        </Authorized>
    </AuthorizeView>
</div>