﻿@using global::Shared
@inherits CompetenceComponent

<HxCard>
    <BodyTemplate>
        <HxCardTitle>@Remark?.Author.Username</HxCardTitle>
        <HxCardText>@Remark?.Content</HxCardText>
        
        <AuthorizeView Roles="@IdentityConstants.ManagementRole">
            <Authorized>
                <HxButton Color="ThemeColor.Danger" OnClick="DeleteAsync">Delete Remark</HxButton>
            </Authorized>
            <NotAuthorized>
                @if (Remark?.Author.Id.Equals(CurrentUserService.CurrentUser.Id) == true)
                {
                    <HxButton Color="ThemeColor.Danger" OnClick="DeleteAsync">Delete Remark</HxButton>
                }
            </NotAuthorized>
        </AuthorizeView>

    </BodyTemplate>
</HxCard>