﻿@using global::Shared
@using Client.Models.Competences
@inherits CompetenceManagementComponent

<tr>
    <td>
        <div >
            <HxCard>
                <BodyTemplate>
                    <div class="d-flex justify-content-between">
                        <HxCardTitle>@Area?.Name</HxCardTitle>
                        <AuthorizeView Roles="@IdentityConstants.ManagementRole">
                            <Authorized>
                                <HxButton OnClick="DeleteAreaAsync" Icon="BootstrapIcon.TrashFill" Color="ThemeColor.Danger"/>
                            </Authorized>
                        </AuthorizeView>
                    </div>
                </BodyTemplate>
            </HxCard>
        </div>
    </td>
    @if (Area is not null)
    {
        <td>
            @foreach (var competence in Area.Competences.Where(x => x.DifficultyLevel is DifficultyLevel.Easy))
            {
                <div @onclick="() => ClickCompetence(competence.Id)">
                    <Competence Parent="@this" CompetenceInstance="competence" OnDelete="DeleteCompetenceAsync" AreaId="@AreaId"/>
                </div>
            }
        </td>
        <td>
            @foreach (var competence in Area.Competences.Where(x => x.DifficultyLevel is DifficultyLevel.Medium))
            {
                <div @onclick="() => ClickCompetence(competence.Id)">
                    <Competence Parent="@this" CompetenceInstance="competence" OnDelete="DeleteCompetenceAsync" AreaId="@AreaId"/>
                </div>
            }
        </td>
        <td>
            @foreach (var competence in Area.Competences.Where(x => x.DifficultyLevel is DifficultyLevel.Hard))
            {
                <div @onclick="() => ClickCompetence(competence.Id)">
                    <Competence Parent="@this" CompetenceInstance="competence" OnDelete="DeleteCompetenceAsync" AreaId="@AreaId"/>
                </div>
            }
        </td>
    }
</tr>