﻿@page "/subject/{SubjectId}"
@using Microsoft.AspNetCore.Authorization
@using global::Shared
@using Client.Models.Competences
@inherits CompetenceManagementComponent
@attribute [Authorize]

<div class="container">
    <h1>@_subject?.Name</h1>
    <div class="d-flex justify-content-between">
        <AuthorizeView Roles="@IdentityConstants.ManagementRole">
            <Authorized>
                <div class="d-flex">
                    <HxButton Color="ThemeColor.Primary" OnClick="OpenCreateAreaModal" CssClass="mx-3">Add Area</HxButton>
                    <HxButton Color="ThemeColor.Primary" OnClick="OpenCreateCompetenceModal" CssClass="mx-3">Add Competence</HxButton>
                </div>
            </Authorized>
        </AuthorizeView>
    </div>

    <hr/>
    <div class="container">
        <div class="row">
            <div class="col col-9">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Area</th>
                        <th scope="col" class="mx-auto" colspan="3">Competences</th>
                    </tr>
                    <tr>
                        <th></th>
                        <th>@DifficultyLevel.Easy</th>
                        <th>@DifficultyLevel.Medium</th>
                        <th>@DifficultyLevel.Hard</th>
                    </tr>
                    </thead>
                    <tbody>
                    @if (_subject is not null)
                    {
                        @foreach (var area in _subject.Areas)
                        {
                            <CompetenceArea OnClickCompetence="HandleClickCompetence" Parent="@this" AreaId="@area.Id" OnDeleteArea="AreaDeleted" OnDeleteCompetence="DeletedCompetenceAsync"/>
                        }
                    }
                    </tbody>
                </table>
            </div>
            <div class="col">
                <HxCard class="col">
                    <CompetenceSideView Parent="@this" CompetenceId="@_currentShownCompetenceId"/>
                </HxCard>
            </div>
        </div>
    </div>
</div>

<HxModal @ref="_createCompetenceModal" Title="Create Competence">
    <BodyTemplate>
        <EditForm id="createCompetenceForm" Model="_createCompetenceModel" OnValidSubmit="CreateCompetenceAsync">
            <DataAnnotationsValidator/>

            <div class="mb-3">
                <HxSelect TItem="Models.Competences.CompetenceArea"
                          TValue="string"
                          Label="Area"
                          Data="_subject!.Areas"
                          @bind-Value="_createCompetenceModel.AreaId"
                          TextSelector="@(a => a.Name)"
                          ValueSelector="@(a => a.Id)"
                          Nullable="false"
                          NullDataText="Loading areas..."/>
            </div>

            <div class="mb-3">
                <HxInputText Label="Competence Name" @bind-Value="_createCompetenceModel.Name"/>
            </div>

            <div class="mb-3">
                <HxInputTextArea Label="Description" @bind-Value="_createCompetenceModel.Description"/>
            </div>

            <div class="mb-3">
                <HxSelect TItem="DifficultyLevel"
                          TValue="DifficultyLevel"
                          Data="Enum.GetValues<DifficultyLevel>()"
                          @bind-Value="_createCompetenceModel.DifficultyLevel"
                          Label="Difficulty level"/>
            </div>

            @if (_createErrors.Any())
            {
                <HxAlert Color="ThemeColor.Danger">
                    <ul>
                        @foreach (var error in _createErrors)
                        {
                            <li>@error</li>
                        }
                    </ul>
                </HxAlert>
            }
        </EditForm>
    </BodyTemplate>
    <FooterTemplate>
        <HxButton OnClick="CloseCreateCompetenceModalAsync" Color="ThemeColor.Secondary">Cancel</HxButton>
        <HxSubmit FormId="createCompetenceForm" Color="ThemeColor.Success">Create</HxSubmit>
    </FooterTemplate>
</HxModal>

<HxModal @ref="_createAreaModal" Title="Create Area">
    <BodyTemplate>
        <EditForm id="createAreaForm" Model="_createAreaModel" OnValidSubmit="CreateAreaAsync">
            <DataAnnotationsValidator/>

            <div class="mb-3">
                <HxInputText Label="Name" @bind-Value="_createAreaModel.Name"/>
            </div>

            @if (_createErrors.Any())
            {
                <HxAlert Color="ThemeColor.Danger">
                    <ul>
                        @foreach (var error in _createErrors)
                        {
                            <li>@error</li>
                        }
                    </ul>
                </HxAlert>
            }
        </EditForm>
    </BodyTemplate>
    <FooterTemplate>
        <HxButton OnClick="CloseCreateCompetenceModalAsync" Color="ThemeColor.Secondary">Cancel</HxButton>
        <HxSubmit FormId="createAreaForm" Color="ThemeColor.Success">Create</HxSubmit>
    </FooterTemplate>
</HxModal>