﻿@page "/"
@using Microsoft.AspNetCore.Authorization
@using global::Shared
@inherits Client.Pages.Competences.CompetenceManagementComponent
@attribute [Authorize]

<div class="container">
    <AuthorizeView Roles="@IdentityConstants.ManagementRole">
        <Authorized>
            <div class="d-flex justify-content-end mb-5">
                <HxButton Outline="true" OnClick="ShowCreateModalAsync" Color="ThemeColor.Success">Create new subject</HxButton>
            </div>
        </Authorized>
    </AuthorizeView>

    <div class="d-flex flex-wrap">
        @foreach (var subject in _subjects)
        {
            <HxCard style="width: 18rem;" CssClass="mx-3" @onclick="() => NavigateToSubject(subject.Id)">
                <BodyTemplate>
                    <div class="d-flex justify-content-between">
                        <HxCardTitle>@subject.Name</HxCardTitle>
                        <AuthorizeView Roles="@IdentityConstants.ManagementRole">
                            <Authorized>
                                <HxButton Icon="BootstrapIcon.TrashFill" Color="ThemeColor.Danger" OnClick="() => DeleteSubjectAsync(subject.Id)"/>
                            </Authorized>
                        </AuthorizeView>
                    </div>
                    <HxCardText>
                        <ul>
                            <li>@subject.AreaCount areas</li>
                            <li>@subject.CompetenceCount competences</li>
                        </ul>
                    </HxCardText>
                </BodyTemplate>
            </HxCard>
        }
    </div>
</div>

<HxModal @ref="_createSubjectModal" Title="Create new Subject">
    <BodyTemplate>
        <EditForm id="newSubjectForm" OnValidSubmit="CreateNewSubjectAsync" Model="_model">
            <DataAnnotationsValidator/>

            <div class="mb-3">
                <HxInputText @bind-Value="_model.Name" Placeholder="Mathematics" Label="Subject name"/>
            </div>

            @if (_createErrors.Any())
            {
                <HxAlert Color="ThemeColor.Danger">
                    <ul>
                        @foreach (var error in _createErrors)
                        {
                            <li>@error</li>
                        }
                    </ul>
                </HxAlert>
            }
        </EditForm>
    </BodyTemplate>
    <FooterTemplate>
        <HxButton Color="ThemeColor.Secondary" OnClick="() => _createSubjectModal.HideAsync()">Cancel</HxButton>
        <HxSubmit FormId="newSubjectForm" Color="ThemeColor.Success">Create</HxSubmit>
    </FooterTemplate>
</HxModal>