﻿@page "/login"

<div class="container">
    <h1>Login</h1>
    
    <EditForm OnValidSubmit="LoginAsync" Model="_model">
        <DataAnnotationsValidator/>
        
        <div class="mb-3">
            <HxInputText Label="Username" Placeholder="Username" @bind-Value="_model.Username"/>
        </div>
        
        <div class="mb-3">
            <HxInputText Label="Password" Type="InputType.Password" @bind-Value="_model.Password"/>
        </div>
        
        <div class="mb-3">
            <HxSubmit Outline="true" Color="ThemeColor.Primary">Login</HxSubmit>
        </div>
        
        @if (_loginErrorMessages.Any())
        {
            foreach (var message in _loginErrorMessages)
            {
                <HxAlert Color="ThemeColor.Danger">
                    <HxIcon Icon="BootstrapIcon.ExclamationTriangleFill"/>
                    @message
                </HxAlert>
            }
        }
    </EditForm>
</div>