﻿@page "/register"

<div class="container">
    <h1>Register</h1>

    <EditForm OnValidSubmit="RegisterAsync" Model="_model">
        <DataAnnotationsValidator/>

        <div class="mb-3">
            <HxInputText Label="Email Address" Placeholder="example@example.com" @bind-Value="_model.EmailAddress"/>
        </div>

        <div class="mb-3">
            <HxInputText Label="Username" Placeholder="Username" @bind-Value="_model.Username"/>
        </div>

        <div class="mb-3">
            <HxInputText Label="Password" Type="InputType.Password" @bind-Value="_model.Password"/>
        </div>

        <div class="mb-3">
            <HxInputText Label="Confirm Password" Type="InputType.Password" @bind-Value="_model.PasswordConfirm"/>
        </div>

        <div class="mb-3">
            <HxSubmit Outline="true" Color="ThemeColor.Primary">Register</HxSubmit>
        </div>

        @if (_registerErrorMessages.Any())
        {
            @foreach (var message in _registerErrorMessages)
            {
                <HxAlert Color="ThemeColor.Danger">
                    <HxIcon Icon="BootstrapIcon.ExclamationTriangleFill"/>
                    @message
                </HxAlert>
            }
        }
    </EditForm>
</div>